Here bike will be seen.
All the current bikes will be shown by default as you will have only few number of them.
Bike can be created, deleted if no entry is associted, searched, updated. Create, Update, Delete,
Listing the items


<div id="listBike" class="panel panel-default" ng-app="bike">
    <div class="panel-heading">Bike Management</div>
    <!--<div class = "panel-body">
        This is a Basic panel
    </div>-->
    <div ng-controller="bikeCtrl as bikeControl">
        <div>
            <table class="table">
                <tr>
                    <th>Product</th>
                    <th>Bike</th>
                    <th>Description</th>
                </tr>
                <tr ng-repeat="oneBike in bikeControl.bikes">
                    <!--ngcheked if expression is true then it will be checked-->
                    <td><input type="checkbox" ng-checked="exists(oneBike.id, selected)" ng-click="toggle(oneBike.id, selected)">
                        {{oneBike.id}}</td>
                    <td>{{oneBike.name}}</td>
                    <td>{{oneBike.description}}</td>
                    <td><button type="button" class="btn btn-default" ng-click="update(oneBike)">Update</button></td>
                <tr>
            </table>
        </div>
        <button type="button" class="btn btn-default" ng-click="open()">Create</button>
        <button type="button" class="btn btn-default" ng-click="delete()">Delete</button>

    </div>
    <!--<uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>-->
</div>
