test
<div class="container" ng-controller="bikeCreateCtrl as bCtrl">
    <h2>Vertical (basic) form</h2>
    <form role="form" ng-submit="bCtrl.submit()">
        <div class="form-group">
            <label for="bike">Bike:</label>
            <input type="text" class="form-control" id="bike" placeholder="Enter bike" ng-model="bCtrl.bike.name">
        </div>
        <div class="form-group">
            <label for="info">Information:</label>
            <input type="text" class="form-control" id="info" placeholder="Enter information" ng-model="bCtrl.bike.description">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
